* {
 margin: 0;
 padding: 0;
 font-family: 'Poppins', sans-serif;
 box-sizing: border-box;
}

body {
 width: 100%;
 background: url(background1.jpg);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 padding-bottom: 100px;
}

.heading {
 width: 100%;
 box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.7);
 cursor: pointer;
 outline: none;
 display: flex;
 align-items: center;
 border: none;
 padding: 5px !important;
 font-weight: bold;
 transition: all 0.4s ease;
}

.heading:hover {
 box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.9);
 background: #002aff;
}

.heading h3 {
 flex: 1;
 font-weight: bolder;
}

.heading button {
  height: 90%;
  transition: all 0.5s ease;
  border: none;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.7);
  outline: none;
}

.heading button:hover {
 background-color: #002aff;
 transform: translateY(-5px);
 box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0.9);
}

.big_image {
 width: 100%;
}

#play_btn {
 border: none;
 outline: none;
 box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.9);
 font-weight: bold;
 margin-bottom: 20px;
 padding: 5px 20px;
 font-size: 16px;
 width: fit-content;
 transition: all 0.4s ease;
 display: block;
}

#play_btn:hover {
 transform: translateY(-5px);
 background: rgb(43, 255, 1);
 box-shadow: 0 0 40px 0 rgba(43, 255, 1, 0.8);
}

#restart {
  border: none;
  outline: none;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.9);
  font-weight: bold;
  margin-bottom: 20px;
  padding: 5px 20px;
  font-size: 16px;
  width: fit-content;
  transition: all 0.4s ease;
  display: block;
 }
 
#restart:hover {
  transform: translateY(-5px);
  background: rgb(255, 1, 1);
  box-shadow: 0 0 40px 0 rgba(255, 1, 1, 0.8);
}

#status {
 border: none;
 outline: none;
 box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.9);
 font-weight: bold;
 margin-bottom: 20px;
 padding: 5px 20px;
 font-size: 16px;
 width: fit-content;
 display: block;
 transition: all 0.4s ease;
}

#status:hover {
 transform: translateY(-5px);
 background: rgb(255, 145, 1);
 box-shadow: 0 0 40px 0 rgba(255, 145, 1, 0.8);
}

h4 {
  width: 100%;
  position: fixed;
  bottom: 0;
  cursor: pointer;
  margin: 0;
  padding: 20px 10px;
  border: none;
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.modal-dialog {
  width: 90%;
}

.instruction_img {
  display: inline-block;
  width: 45%;
}

.modal-body {
  text-align: left;
}

.modal-body ol {
  margin-left: 15px;
}

.modal-body h5 {
  font-weight: bolder;
  font-size: 15px;
}